*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(95, 4, 4);
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    /* width: 80%; */
     /* margin: 10px 5px 5px 15px; */
    
}

img{
    width: 100%; 
    height: 200px;
    margin: 1.4%;
    object-fit:fill;
    border: 8px solid rgb(189, 20, 20);
    border-bottom: 10px solid rgb(173, 114, 3);
    border-left: 10px dashed rgb(173, 114, 3);
     
}


h1{
    
    margin-left: 1.4%;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid  rgb(236, 10, 10);
    width: 33%;
    padding-bottom: 2px;
   
}

.contacto{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
  
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    
    /* background-color: rgb(148, 58, 42); */
    color: white;
   
    /* width:12%; */
    
}